* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../images/bg-image.jpg");
  backdrop-filter: blur(5px);
  background-size: cover;
  padding: 0;
  margin: 0;
}

#root {
  width: 40%;
  margin: 0 auto;
  min-height: 94vh;
  padding-top: 25px;
}

.table {
  width: 100%;
  min-height: 50vh;
  padding-left: 10px;
  background-color: #e0e0e0;
  border-collapse: collapse;
}

td {
  text-align: center;
  border: #d1c4c4 solid 1px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  cursor: pointer;
}

td:last-child {
  background-color: #ff6400;
  color: #fff;
}
